.main {
  color: white;
  /*background-color: #282c34;*/
  /* background-color: #453f5c; */
  background: rgb(172, 132, 207);
  background: radial-gradient(circle, rgba(172, 132, 207, 1) 0%, rgba(133, 67, 192, 1) 81%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right top;
  overflow-y: auto;
  height: 110vh;
}

.winner-Text {
  font-size: 60px;
  color: white;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  background-color: darkgoldenrod;
  text-align: center;
  margin-top: 3%;
  border-radius: 10%;
  width: 60%;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.title-Text {
  font-size: 42px;
  color: #4B1EAF;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  background-color: white;
  text-align: center;
  margin-top: 8%;
  border-radius: 10%;
  width: 80%;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.body-Text {
  font-size: 32px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 3%;
  border-radius: 10%;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.a-link {
  border: none;
  background: none;
  color: #61dafb;
}

.affix {
  top: 50px;
  position: fixed;
}

.div-right {
  float: right;
  margin-top: 1em;
  display: inline;
}

.div-left {
  float: left;
}

canvas {
  border: 5px solid white;
  float: right;
  margin-bottom: 5%;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

.centerImage1 {
  display: block;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  margin-right: auto;
  width: 100%;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

.textLeft {
  text-align: left;
  margin-right: 670px;
  margin-left: 0px;
}

.tableCenter {
  table-layout: fixed;
  text-align: center;
  align-content: center;
  align-self: center;
  margin: auto;
}

.tableCenter1 {
  table-layout: fixed;
  text-align: center;
  align-content: center;
  align-self: center;
  margin-top: 3%;
}

.button-37 {
  background-color: #1567e0;
  border: 1px solid #f0f3f1;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 5px 15px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.player-turn img {
  border: rgb(52, 197, 88) 3px solid;
}

.player img {
  margin: auto
}

.debug {
  border: 1px solid
}

/* <button class="button-35" role="button">Button 35</button> */

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.draw-pile {
  width: fit-content;
}