.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}