.main {
  color: white;
  background-color: #282c34;
  height: 100vh;
}

.a-link {
  border: none;
  background: none;
  color: #61dafb;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.textLeft {
  text-align: left;
  margin-right: 670px;
  margin-left: 0px;
}